  <mat-card>
    <div class="row">
      <mat-form-field class="example-full-width col-6">
        <input matInput [(ngModel)]="usuario.nome" placeholder="Usuário">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width col-6" >
        <input matInput [(ngModel)]="usuario.senha" placeholder="Senha" type="password">
      </mat-form-field>
    </div>
        <button type="submit" class="btn btn-outline-primary" name="action" (click)="fazerLogin()">Login
          <i class="material-icons right">send</i>
        </button>
  </mat-card>